
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
 
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 20%;
    object-fit: cover;
  }
  .dcsc-container{
    background: linear-gradient(92.56deg, #041551 9.22%, #0E5E6B 99.52%);
  }
  .btn_info:hover{
    background: linear-gradient(92.56deg, #4C6CDC 9.22%, #00BBC7 99.52%);
  }
  .homePage.swiper-wrapper {
    width: 100%;
  }